# Django (Backend)
*.pyc
/__pycache__/

*/venv/
db.sqlite3
backend/spotify/credentials.py

# React (Frontend)
frontend_old/
frontend/node_modules/


# IDE files
.vscode/
.idea/

# System-specific files
.DS_Store
Thumbs.db