# Django (Backend)
*.pyc
/__pycache__/

venv/
db.sqlite3
/static/

# React (Frontend)
frontend/__pycache__/
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/static/frontend/main.js

music_controller/*.pyc
music_controller/__pycache__/

spotify/*.pyc
spotify/__pycache__/


# IDE files
.vscode/
.idea/

# System-specific files
.DS_Store
Thumbs.db
